@charset "utf-8";
@import 'rem';

$designWidth: 375;
//body,html {
//    height: 100%;
//  }
#app {
  background: url('../images/betRecord/bg_qipai.png') center center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -webkit-background: url('../images/betRecord/bg_qipai.png') center center no-repeat;
  font-size: rem(12);
  -webkit-font-size: rem(12);
  height: 100%;
  width: 100%;
  #bgimg {
    width: rem(351);
    height: rem(625);
    margin: 0 auto;
    background: url('../images/betRecord/bg.png') no-repeat;
    background-size: 100%;
    -webkit-background-size: 100%;
    -webkit-background: url('../images/betRecord/bg.png') no-repeat;
    .rig {
      float: right;
      margin-right: rem(0);
      // margin-top:rem(-10);
      width: rem(35);
      height: rem(36);
      background: url('../images/betRecord/btn_shaixuan@2x.png') no-repeat;
      background-size: 100%;
      -webkit-background-size: 100%;
    }
    .betRecord_top {
      margin: rem(5) auto;
      // margin-top:rem(-20);
      margin-bottom: rem(0);
      width: rem(351);
      height: rem(74.5);
      position: relative;
      // border-bottom : 0.5px solid #FFDC99;

      ul {
        position: absolute;
        left: 0;
        bottom: 0;
        // margin-top:rem(65);
        li {
          width: rem(87.5);
          height: rem(45);
          text-align: center;
          float: left;
          a {
            text-align: center;
            display: block;
            width: 25%;
            margin-left: rem(20);
            width: rem(59);
            height: rem(29);
            line-height: rem(29);
            -webkit-line-height: rem(29);
            font-size: rem(12);
            -webkit-font-size: rem(12);
          }
          a.on {
            color: #000;
            -webkit-background-image: linear-gradient(#F0DDAE 0%, #DCB976 100%);
            background-image: linear-gradient(#F0DDAE 0%, #DCB976 100%);
          }
        }
      }
    }
    .betRecord_bd {
      // margin-top: rem(20);
      padding: rem(20);
      ul {
        li {
          height: rem(66);
          width: 100%;
          padding: rem(10);
          padding-top: rem(0);
          //    margin-bottom: 1px;
          a {
            .bd-left {
              float: left;
              .left-tit {
                font-family: PingFangSC-Semibold;
                -webkit-font-family: PingFangSC-Semibold;
                font-size: rem(14);
                -webkit-font-size: rem(14);
                color: #FFDC99;
                letter-spacing: 0;
                line-height: rem(14);
                -webkit-line-height: rem(14);
                span {
                  opacity: rem(0.8);
                  -webkit-opacity: rem(0.8);
                  font-family: PingFangSC-Regular;
                  -webkit-font-family: PingFangSC-Regular;
                  font-size: rem(10);
                  -webkit-font-size: rem(10);
                  color: #FFDC99;
                  letter-spacing: 0;
                  line-height: rem(10);
                  -webkit-line-height: rem(10);
                }
              }
              .left-data {
                // display: block;
                height: rem(38);
                margin-top: rem(14);
                opacity: rem(0.8);
                -webkit-opacity: rem(0.8);
                font-family: PingFangSC-Regular;
                -webkit-font-family: PingFangSC-Regular;
                font-size: rem(10);
                -webkit-font-size: rem(10);
                color: #FFDC99;
                letter-spacing: 0;
                line-height: rem(10);
                -webkit-line-height: rem(10);
              }
            }
            .bd-right {
              float: right;
              .p1 {
                font-family: PingFangSC-Semibold;
                -webkit-font-family: PingFangSC-Regular;
                font-size: rem(18);
                -webkit-font-size: rem(18);
                color: #FFDC99;
                letter-spacing: 0;
                width: rem(45);
                line-height: rem(14);
                -webkit-line-height: rem(14);
                margin-right: rem(40);
              }
              .p2 {
                color: #FFDC99;
                text-align: right;
                margin-right: rem(15);
                margin-top: rem(-10);
                font-size: rem(20);
                -webkit-font-size: rem(20);
                // display: block;
                // width:rem(10);
                height: rem(8);
              }
              .p3 {
                opacity: rem(0.7);
                -webkit-opacity: rem(0.7);
                display: block;
                font-family: PingFangSC-Regular;
                -webkit-font-family: PingFangSC-Regular;
                font-size: rem(10);
                -webkit-font-size: rem(10);
                color: #FFFFFF;
                letter-spacing: 0;
                width: rem(45);
                height: rem(10);
                line-height: rem(10);
                -webkit-line-height: rem(10);
                margin-right: rem(40);
                text-align: right;
                margin-top: rem(9);
              }
            }
          }
        }
      }
    }
  }
}