@charset "utf-8";
@import 'rem';

$designWidth: 375;
body {
  //background: rgb(14, 13, 21);
}

//body,html {
//    height: 100%;
//  }
//#app {
//    background: url('../images/index/bg_qipai.png') center center no-repeat; background-size: cover;
//}

.rollNews {
  background: linear-gradient(top, #172238, #20142D);
  background: -webkit-linear-gradient(top, #172238, #20142D);
  height: rem(34);
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  overflow: hidden;
  .indexlottery {
    position: relative;
    padding: 0 rem(10);
    font-size: rem(12);
    color: #FFDC99;
    ul {
      li {
        line-height: rem(34); /*background: url('../images/index/tiIcon.png') left rem(6) no-repeat; background-size: rem(40) auto; padding-left: rem(45);*/
        span {
          font-family: arial;
        }
      }
    }
  }
  .rollCuost {
    line-height: rem(34);
    text-align: center;
    a {
      display: block;
      font-size: rem(12);
      color: #ffffff;
      img {
        width: rem(50);
        padding-top: rem(5);
      }
    }
  }
}

.NavColorMn {
  height: rem(32);
  background: transparent url('../images/index/colorLine.png') top center repeat-x;
  background-size: rem(60) auto;
  text-align: center;
  ul {
    display: inline-block;

    li {
      width: rem(115);
      height: rem(32);
      background: url('../images/index/leftNav.png') top left no-repeat;
      background-size: 100% auto;
      float: left;
    }
    li.on {
      background: url('../images/index/leftNavColor.png') top left no-repeat;
      background-size: 100% auto;
      float: left;
    }
    li:nth-child(2) {
      background: url('../images/index/rightNav.png') top left no-repeat;
      background-size: 100% auto;
    }
    li:nth-child(2).on {
      background: url('../images/index/rightNavColor.png') top left no-repeat;
      background-size: 100% auto;
      float: left;
    }
  }
}

.colorList {
  padding: rem(15);
  padding-bottom: rem(80);
}

.colorListMian {
  height: rem(335);
  overflow-y: scroll;
  ul {
    height: auto;
    overflow: hidden;
    padding-bottom: rem(100);
    li {
      width: 33%;
      float: left; /*background: rgba(0,0,0,0.3);*/
      /*background-image: radial-gradient(hsla(120,70%,60%,.9),hsla(360,60%,60%,.9));*/
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      a {
        margin: rem(1);
        background-image: -webkit-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.35));
        padding: rem(10) 0;
        padding-bottom: rem(12);
        display: block;
        section {
          text-align: center;
          font-size: rem(11);
          color: #FFDC99;
          figure {
            width: rem(75);
            height: rem(75);
            display: inline-block;
          }
        }
      }
    }

  }
}

.FooterCls {
  background: url('../images/index/foterBack.png') left bottom no-repeat;
  background-size: 100% 100%;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  overflow: visible;
  height: rem(70);
  nav {
    display: flex;
    -webkit-display: flex;
    -moz-display: flex;
    -o-display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -o-flex-direction: row;
    padding-top: rem(28);
    padding-bottom: rem(5);
    position: relative;
    overflow: visible;
    li {
      width: 20%;
      text-align: center;
      float: left;
      a {
        color: #3A86E5;
        font-size: rem(10);
        section {
          margin-top: rem(-5);
          p:first-of-type {
            width: rem(26);
            height: rem(26);
            background: url('../images/index/footerColor.png') center center no-repeat;
            background-size: rem(35) auto;
            display: inline-block;
            margin-bottom: rem(0);
          }
        }
      }
    }
    li.on {
      a {
        color: #FFDC99;
      }
      section {
        p:first-of-type {
          background: url('../images/index/footer.png') center center no-repeat;
          background-size: rem(35) auto;
        }
      }
    }
    li:nth-child(2) {
      width: 20%;
      margin-right: 10%;
      section {
        p:first-of-type {
          background: url('../images/index/footerColor01.png') center center no-repeat;
          background-size: rem(35) auto;
        }
      }
    }
    li:nth-child(3) {
      width: 20%;
      margin-left: 10%;
      section {
        p:first-of-type {
          background: url('../images/index/footerColor02.png') center center no-repeat;
          background-size: rem(35) auto;
        }
      }
    }

    li:nth-child(4) {
      section {
        p:first-of-type {
          background: url('../images/index/footerColor03.png') center center no-repeat;
          background-size: rem(35) auto;
        }
      }
    }
    li:nth-child(2).on {
      width: 20%;
      margin-right: 10%;
      section {
        p:first-of-type {
          background: url('../images/index/footer01.png') center center no-repeat;
          background-size: rem(35) auto;
        }
      }
    }
    li:nth-child(3).on {
      width: 20%;
      margin-left: 10%;
      section {
        p:first-of-type {
          background: url('../images/index/footer02.png') center center no-repeat;
          background-size: rem(35) auto;
        }
      }
    }

    li:nth-child(4).on {
      section {
        p:first-of-type {
          background: url('../images/index/footer03.png') center center no-repeat;
          background-size: rem(35) auto;
        }
      }
    }
    li:last-child {
      width: rem(65);
      position: absolute;
      top: rem(0);
      left: 50%;
      margin-left: rem(-38.5);
    }

  }
}

/*开奖大厅*/


//.lotteryDate {
//  padding: rem(10);
//  overflow-y: scroll;
//  ul {
//    padding-bottom: rem(90);
//    li {
//      background: rgba(0, 0, 0, 0.3);
//      padding: rem(10);
//      margin-bottom: rem(10);
//      border-radius: rem(2);
//      a {
//        font-size: rem(14);
//        color: #FFDC99;
//        display: block;
//        span {
//          font-family: arial;
//        }
//      }
//      .lottery_title {
//        display: flex;
//        -webkit-display: flex;
//        flex-direction: row;
//        -webkit-flex-direction: row;
//        p:first-of-type {
//          flex: 1;
//        }
//        p:last-of-type {
//          font-size: rem(10);
//          line-height: rem(24);
//        }
//      }
//    }
//  }
//}

//.lotteryDate.lotteryDateed {
//  max-height: rem(530);
//  a {
//    .lottery_title {
//      span {
//        font-family: arial;
//      }
//    }
//  }
//}

//.lotteryDate ul li a.lotterA {
//  background: url('../images/arrow.png') right rem(7) no-repeat;
//  background-size: rem(10) auto;
//  padding-right: rem(12);
//}

.lotteryDate ul li a .lottery_color {
  margin-top: rem(0);
  .lootery_section.nameArt {
    p {
      width: rem(24);
      height: rem(24);
      background: #2C55CA;
      border: rem(1) solid #ffffff;
      border-radius: 50%;
      float: left;
      line-height: rem(24);
      text-align: center;
      margin-right: rem(10);
    }
    p:nth-of-type(2) {
      background: #E83828;
    }
  }
  .lootery_section.nameArt01 {
    p {
      width: rem(40);
      height: rem(24);
      line-height: rem(22);
      box-sizing: border-box;
      -webkit-box-sizeing: border-box;
      border: rem(1) solid transparent;
      background-clip: padding-box, border-box;
      background-origin: padding-box, border-box;
      background-image: linear-gradient(top, #881111, #ED4132), linear-gradient(top, #FFFBAD, #FFA531);
      background-image: -webkit-linear-gradient(top, #881111, #ED4132), -webkit-linear-gradient(top, #FFFBAD, #FFA531);
      display: inline-block;
      border-radius: rem(3);
      text-align: center;
      box-shadow: inset rem(1) rem(-1) rem(8) rgba(0, 0, 0, 0.5);
    }
    p.green {
      background-image: linear-gradient(top, #27853B, #50C36D), linear-gradient(top, #FFFBAD, #FFA531);
      background-image: -webkit-linear-gradient(top, #27853B, #50C36D), -webkit-linear-gradient(top, #FFFBAD, #FFA531);
    }
    p.black {
      background-image: linear-gradient(top, #000000, #881111), linear-gradient(top, #FFFBAD, #FFA531);
      background-image: -webkit-linear-gradient(top, #000000, #881111), -webkit-linear-gradient(top, #FFFBAD, #FFA531);
    }
  }
  .lootery_section.nameArt02 {
    p {
      width: rem(40);
      height: rem(24);
      line-height: rem(22);
      box-sizing: border-box;
      -webkit-box-sizeing: border-box;
      border: rem(1) solid transparent;
      background-clip: padding-box, border-box;
      background-origin: padding-box, border-box;
      background-image: linear-gradient(top, #50C36D, #27853B), linear-gradient(top, #FFFBAD, #FFA531);
      background-image: -webkit-linear-gradient(top, #50C36D, #27853B), -webkit-linear-gradient(top, #FFFBAD, #FFA531);
      display: inline-block;
      border-radius: rem(3);
      text-align: center;
      box-shadow: inset rem(1) rem(-1) rem(8) rgba(0, 0, 0, 0.5);
    }
  }
  .lootery_section.nameArt03 {
    border: rem(1) solid #F0DDAE;
    border-radius: rem(3);
    display: inline-block;
    padding: rem(2);
    p {
      min-width: rem(14);
      height: rem(21);
      line-height: rem(21);
      background-image: linear-gradient(top, #F0DDAE 0%, #DCB976 100%);
      background-image: -webkit-linear-gradient(top, #F0DDAE 0%, #DCB976 100%);
      border-radius: rem(1);
      float: left;
      margin-right: rem(1);
      text-align: center;
      font-family: arial;
      color: #000000;
      font-size: rem(12);
    }
    p:last-of-type {
      margin-right: 0;
    }
  }
  .lootery_section.nameArt04 {
    p {
      width: rem(28);
      height: rem(28);
      background: linear-gradient(top, #F0DDAE, #DCB976);
      background: -webkit-linear-gradient(top, #F0DDAE, #DCB976);
      border-radius: 50%;
      float: left;
      line-height: rem(28);
      text-align: center;
      margin-right: rem(20);
      color: #63000C;
      position: relative;
    }
    p:after {
      content: '+';
      font-size: rem(14);
      color: #FFDC99;
      position: absolute;
      right: rem(-15);
      top: 0;
    }
    p:nth-of-type(3):after {
      content: '=';
    }
    p:last-of-type {
      background: #E83828;
      border: rem(1) solid #FFDC99;
      color: #ffffff;
    }
    p:last-of-type:after {
      content: '';
    }
    p.red {
      box-sizing: border-box;
      -webkit-box-sizeing: border-box;
      border: rem(1) solid transparent;
      background-clip: padding-box, border-box;
      background-origin: padding-box, border-box;
      background-image: linear-gradient(top, #c1212a, #c20007), linear-gradient(top, #FFFBAD, #FFA531);
      background-image: -webkit-linear-gradient(top, #c1212a, #c20007), -webkit-linear-gradient(top, #FFFBAD, #FFA531);
    }
    p.blue {
      box-sizing: border-box;
      -webkit-box-sizeing: border-box;
      border: rem(1) solid transparent;
      background-clip: padding-box, border-box;
      background-origin: padding-box, border-box;
      background-image: linear-gradient(top, #0979b6, #02177c), linear-gradient(top, #FFFBAD, #FFA531);
      background-image: -webkit-linear-gradient(top, #0979b6, #02177c), -webkit-linear-gradient(top, #FFFBAD, #FFA531);
    }
    p.green {
      box-sizing: border-box;
      -webkit-box-sizeing: border-box;
      border: rem(1) solid transparent;
      background-clip: padding-box, border-box;
      background-origin: padding-box, border-box;
      background-image: linear-gradient(top, #50C36D, #27853B), linear-gradient(top, #FFFBAD, #FFA531);
      background-image: -webkit-linear-gradient(top, #50C36D, #27853B), -webkit-linear-gradient(top, #FFFBAD, #FFA531);
    }
    p.gray {
      background: #cccccc;
      color: #333333;
    }
  }
  .lootery_section.nameArt05 {
    padding-bottom: rem(3);
    p {
      width: rem(28);
      height: rem(28);
      background: #E83828;
      border-radius: 50%;
      float: left;
      line-height: rem(28);
      text-align: center;
      margin-right: rem(5);
      color: #63000C;
      position: relative;
      border: rem(1) solid #FFDC99;
      color: #ffffff;
      position: relative;
      overflow: visible;
      span.Contact_cus {
        width: rem(15);
        height: rem(15);
        background: -webkit-linear-gradient(top, #F0DDAE, #DCB976);
        position: absolute;
        bottom: rem(-3);
        right: rem(-3);
        font-size: rem(8);
        line-height: rem(15);
        color: #3A2316;
        border-radius: 50%;
      }
    }
    p:first-of-type {
      width: rem(28);
      height: rem(28);
      background: #E83828;
      border-radius: 50%;
      float: left;
      line-height: rem(28);
      text-align: center;
      margin-right: rem(5);
      color: #63000C;
      position: relative;
      border: rem(1) solid #FFDC99;
      color: #ffffff;
    }
    img {
      width: rem(26);
    }
    p.red {
      background: #E83828;
    }
    p.blue {
      background: #2C55CA;
    }
    p.green {
      background: #27853B;
    }
    p.gray {
      background: #cccccc;
      color: #333333;
    }
    p:last-of-type {
      margin-left: rem(15);
      position: relative;
    }
    p:last-of-type:after {
      content: "+";
      position: absolute;
      top: 0;
      left: rem(-15);
      color: #ffffff;
      font-size: rem(16);
    }
  }
  .lootery_section.nameArt06 {
    p {
      float: left;
      margin-right: rem(5);
    }
    img {
      width: rem(20);
    }
  }
  .lootery_section.nameArt07 {
    p {
      float: left;
      margin-right: rem(1);
      width: rem(20);
      height: rem(30);
      background: url('../images/hbeu.png') no-repeat;
      background-size: rem(20) auto;
      text-align: center;
      line-height: rem(27);
      color: #000000;
      font-size: rem(12);
    }
  }
  .lootery_section.nameArt08 {
    p {
      width: rem(28);
      height: rem(28);
      background: linear-gradient(top, #F0DDAE, #DCB976);
      background: -webkit-linear-gradient(top, #F0DDAE, #DCB976);
      border-radius: 50%;
      float: left;
      line-height: rem(28);
      text-align: center;
      margin-right: rem(10);
      color: #63000B;
      position: relative;
    }
  }
  .lootery_section p.mnshImgCls {
    width: rem(21);
    height: rem(31);
    display: inline-block;
    margin-right: rem(2);
  }
  .lootery_section p.sglncCls {
    span {
      float: left;
      line-height: rem(28);
      img {
        width: rem(28);
      }
    }
    span:last-child {
      margin-left: rem(10);
    }
  }
  .lootery_section p.hxpjCls {
    em {
      width: 100%;
      height: auto;
      overflow: hidden;
      display: block;
      font-size: rem(12);
      font-style: normal;
      span {
        float: left;
        margin-right: rem(5);
      }
      span:nth-child(2n) {
        margin-right: rem(10);
      }
      img {
        width: rem(16);
      }
    }
    em:nth-child(2) {
      span {
        width: rem(39);
        text-align: center;
        line-height: rem(24);
        color: #ffffff;
      }
      span:first-of-type {
        color: #DCB976;
      }
    }
  }
  .lootery_section p.hjrbgCls {
    em {
      width: 100%;
      height: auto;
      overflow: hidden;
      display: block;
      font-size: rem(12);
      font-style: normal;
      span {
        float: left;
        margin-right: rem(5);
      }
      span:nth-child(2n) {
        margin-right: rem(10);
      }
      img {
        width: rem(16);
      }
    }
    em:nth-child(2) {
      span {
        width: rem(39);
        text-align: center;
        line-height: rem(24);
        color: #ffffff;
      }
      span:first-of-type {
        color: #DCB976;
      }
    }
  }
}

/*登录*/
.login {
  padding: 0 rem(15);
}

.login_article {
  width: rem(300);
  margin: 0 auto;
  margin-top: 80%;
  section.loginFlex {
    display: flex;
    -webkit-display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    margin-bottom: rem(10);
    p {
      font-size: rem(14);
      color: #FFFFFF;
      line-height: rem(42);
    }
    p:first-of-type {
      width: rem(50);
      text-align: right;
      margin-right: rem(5);
    }
    p:last-of-type {
      flex: 1;
      input {
        width: 100%;
        height: rem(42);
        line-height: rem(42);
        background: url('../images/Rectangle2x.png') top center no-repeat;
        background-size: 100% 100%;
        border-radius: rem(2);
        font-size: rem(14);
        color: #FFFFFF;
        text-indent: rem(15);
      }
    }
  }
  section:nth-child(3) {
    text-align: right;
  }
}

/*开奖信息详情*/
.theDetails_title {
  width: 100%;
  height: rem(50);
  line-height: rem(50);
  text-align: center;
  color: #FFFFFF;
  font-size: rem(16);
  position: relative;
  img {
    width: rem(30);
    position: absolute;
    left: 0;
    top: rem(8);
  }
}

/*投注记录*/
.bettingRecord {
  padding-top: rem(63);
}

.betRecord_top {
  padding: 0 rem(12);
  ul {
    display: flex;
    -webkit-display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    border-bottom: rem(1) solid #DCB976;
    li {
      flex: 1;
      text-align: center;
      a {
        font-size: rem(12);
        color: #FFDC99;
        width: rem(59);
        height: rem(29);
        line-height: rem(29);
        display: inline-block;
      }
    }
    li.on {
      a {
        color: #180B0B;
        background: linear-gradient(top, #F0DDAE, #DCB976);
        background: -webkit-linear-gradient(top, #F0DDAE, #DCB976);
        background: -moz-linear-gradient(top, #F0DDAE, #DCB976);
        background: -ms-linear-gradient(top, #F0DDAE, #DCB976);
        border-top-left-radius: rem(5);
        border-top-right-radius: rem(5);
      }
    }
  }
}

.SecondaryNav {
  width: rem(35);
  position: fixed;
  top: rem(5);
  right: 0;
}

.betRecord_bd {
  margin: 0 rem(12);
  overflow-y: scroll;
  ul {
    li {
      /*background: url('../images/Mask_Copy.png') center center no-repeat; background-size: 100% 100%;*/
      background: linear-gradient(top, rgba(35, 23, 40, 0.5), rgba(18, 14, 21, 0.9));
      background: -webkit-linear-gradient(top, rgba(35, 23, 40, 0.2), rgba(18, 14, 21, 0.3));
      height: auto;
      overflow: hidden;
      a {
        display: block;
        padding: rem(5) rem(10);
        span {
          font-family: arial;
        }
      }
    }
    li:last-child {
      padding-bottom: rem(0);
    }
  }
  section:first-child {
    p {
      float: left;
      font-size: rem(14);
      color: #FFDC99;
      line-height: rem(24);
      .spanMarry {
        float: right;
        font-size: rem(18);
        color: #FFDC99;
        font-family: arial;
      }
    }
    p:nth-of-type(2) {
      font-size: rem(10);
      color: #FFDC99;
      line-height: rem(28);
      margin-left: rem(10);
    }
    p:nth-of-type(3) {
      float: right;
    }
  }
  section:last-child {
    display: flex;
    -webkit-display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    font-size: rem(10);
    color: #FFDC99;
    p:first-of-type {
      flex: 1;
    }
    p:nth-of-type(2) {
      color: #ffffff;
    }
    p.winCls {

      strong {
        width: rem(20);
        height: rem(20);
        color: #000000;
        background: #FFDC99;
        padding: rem(1);
        font-size: rem(10);
        margin-right: rem(2);
        border-radius: rem(2);
      }
      span {
        color: #FFDC99;
      }
    }
  }
}

.betRecord_bd.betRecord_bd_record {
  margin: 0 rem(12);
  height: 63%;
  overflow-y: scroll;
  margin-top: rem(15);
  a {
    padding: rem(10);
  }
}

.betRecord_bd.betRecord_bd_record.betRecord_bd_record_box {
  height: 85%;
}

//
//.betting_record_box .betting_record_details {
//  height: 50%!important;
//}

/*投注详情*/
.bgimg_title {
  height: rem(50);
  line-height: rem(50);
  font-size: rem(16);
  color: #FFFFFF;
  text-align: center;
  position: relative;
  img {
    width: rem(35);
    height: rem(36);
    position: absolute;
    left: 0;
    top: rem(8);
  }
  p {
    //  background: url('../images/bTArrow.png') top center no-repeat;height: rem(50); line-height: rem(50);
    .down {
      background: url('../images/bTArrow.png') center no-repeat;
      position: absolute;;
      height: rem(50);
      width: rem(50);
    }
  }

}

.beimg_cls {
  padding: rem(15); /*height: rem(500);*/
  overflow-y: scroll;
}

.beimg_article {
  display: flex;
  -webkit-display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  background: rgba(0, 0, 0, 0.3);
  font-size: rem(14);
  padding: rem(10);
  color: #FFDC99;
  section:first-child {
    width: rem(58);
    height: rem(58);
    display: inline-block;
    margin-right: rem(10);
  }
  section:last-child {
    flex: 1;
    line-height: rem(24);
    p:first-of-type {
      padding-top: rem(5);
      span {
        float: right;
        font-size: rem(10);
        color: #FFDC99;
        position: relative;
        font-family: Arial;
      }
    }
    p:nth-of-type(2) {
      font-size: rem(18);
      color: #FFDC99;
    }
  }
}

.beimg_list {
  background: rgba(0, 0, 0, 0.3);
  padding: rem(10);
  margin: rem(10) 0;
  .beimg_list_title {
    font-size: rem(12);
    color: #FFDC99;
    line-height: rem(24);
  }
  .beimg_list_content {
    section {
      display: flex;
      -webkit-display: flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      line-height: rem(24);
      padding: rem(5) 0;
      p:first-of-type {
        font-size: rem(12);
        color: #FFFFFF;
        width: rem(60);
        text-align: right;
        margin-right: rem(10);
      }
      p:nth-of-type(2) {
        font-size: rem(12);
        color: #FFDC99;
        font-family: arial;
        flex: 1;
      }
    }
  }
}

.beimg_result {
  margin-top: rem(10);
  background: rgba(0, 0, 0, 0.3);
  padding: rem(10);
  margin-bottom: rem(20);
}

.beimg_result_title {
  font-size: rem(12);
  color: #FFDC99;
  line-height: rem(24);
  margin-bottom: rem(10);
}

.beimg_section {
  section {
    display: inline-block;
    border: rem(1) solid #F0DDAE;
    border-radius: rem(4);
    padding: rem(2);
    p {
      width: rem(33);
      height: rem(41);
      text-align: center;
      line-height: rem(41);
      background: linear-gradient(top, #F0DDAE, #DCB976);
      background: -webkit-linear-gradient(top, #F0DDAE, #DCB976);
      background: -moz-linear-gradient(top, #F0DDAE, #DCB976);
      float: left;
      margin: rem(1);
      font-size: rem(26);
      color: #000000;
      font-family: arial;
    }
  }
}

/*pc蛋蛋*/
.beimg_section.pcddBeimg {
  section {
    border: none;
    p {
      width: rem(35);
      height: rem(35);
      background: linear-gradient(top, #F0DDAE, #DCB976);
      background: -webkit-linear-gradient(top, #F0DDAE, #DCB976);
      border-radius: 50%;
      line-height: rem(35);
      text-align: center;
      color: #63000C;
      font-size: rem(20);
      font-family: arial;
      margin-right: rem(25);
      position: relative;
      font-family: Arial;
    }
    p:after {
      content: "+";
      font-size: rem(20);
      color: #F0DDAE;
      position: absolute;
      right: rem(-20);
    }
    p:nth-of-type(3):after {
      content: "=";
    }
    p:last-of-type:after {
      content: "";
    }
    p.red {
      box-sizing: border-box;
      -webkit-box-sizeing: border-box;
      border: rem(1) solid transparent;
      background-clip: padding-box, border-box;
      background-origin: padding-box, border-box;
      background-image: linear-gradient(top, #c1212a, #c20007), linear-gradient(top, #FFFBAD, #FFA531);
      background-image: -webkit-linear-gradient(top, #c1212a, #c20007), -webkit-linear-gradient(top, #FFFBAD, #FFA531);
      color: #ffffff;
      line-height: rem(33);
    }
    p.blue {
      box-sizing: border-box;
      -webkit-box-sizeing: border-box;
      border: rem(1) solid transparent;
      background-clip: padding-box, border-box;
      background-origin: padding-box, border-box;
      background-image: linear-gradient(top, #0979b6, #02177c), linear-gradient(top, #FFFBAD, #FFA531);
      background-image: -webkit-linear-gradient(top, #0979b6, #02177c), -webkit-linear-gradient(top, #FFFBAD, #FFA531);
      color: #ffffff;
      line-height: rem(33);
    }
    p.green {
      box-sizing: border-box;
      -webkit-box-sizeing: border-box;
      border: rem(1) solid transparent;
      background-clip: padding-box, border-box;
      background-origin: padding-box, border-box;
      background-image: linear-gradient(top, #50C36D, #27853B), linear-gradient(top, #FFFBAD, #FFA531);
      background-image: -webkit-linear-gradient(top, #50C36D, #27853B), -webkit-linear-gradient(top, #FFFBAD, #FFA531);
      color: #ffffff;
      line-height: rem(33);
    }
    p.gray {
      background: #dcdcdc;
      color: #666666;
    }
  }
}

/*香港六合彩*/
.beimg_section.xjlhcBeimg {
  section {
    p {
      margin-right: rem(5);
    }
    p:after {
      content: '';
    }
  }
}

/*江苏快三*/
.beimg_section.jsk3Beimg {
  section {
    p {
      background: transparent;
      margin-right: rem(10);
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

/*济州岛赛马*/
.beimg_section.beimgArticle {
  p {
    width: rem(40);
    height: rem(40);
    background: #2C55CA;
    border: rem(1) solid #ffffff;
    border-radius: 50%;
    float: left;
    line-height: rem(40);
    text-align: center;
    margin-right: rem(10);
    font-size: rem(24);
    color: #ffffff;
  }
  p:nth-of-type(2) {
    background: #E83828;
  }
}

/*云顶炸金花*/
.beimg_section.beimg_section_mnhsSection {
  p {
    width: rem(40);
    float: left;
  }
}

/*苏格兰农场*/
.beimg_section.beimgSection {
  p {
    line-height: rem(50);
    float: left;
    font-size: rem(16);
    color: #ffffff;
    margin-right: rem(5);
    img {
      width: rem(50);
    }
  }
}

/*华夏牌九*/
.beimg_section_hx {
  .hxpjCls {
    em {
      width: 100%;
      height: auto;
      overflow: hidden;
      display: block;
      font-size: rem(12);
      font-style: normal;
      span {
        float: left;
        margin-right: rem(5);
      }
      span:nth-child(2n) {
        margin-right: rem(10);
      }
      img {
        width: rem(25);
      }
    }
    em:nth-child(2) {
      span {
        width: rem(57);
        text-align: center;
        line-height: rem(24);
        color: #ffffff;
      }
    }
  }

  //皇家二八杠
  .hjrbgCls {
    em {
      width: 100%;
      height: auto;
      overflow: hidden;
      display: block;
      font-size: rem(12);
      font-style: normal;
      span {
        float: left;
        margin-right: rem(5);
      }
      span:nth-child(2n) {
        margin-right: rem(10);
      }
      img {
        width: rem(25);
      }
    }
    em:nth-child(2) {
      span {
        width: rem(57);
        text-align: center;
        line-height: rem(24);
        color: #ffffff;
      }
    }
  }
}

.lootery_section_height {
  p {
    width: rem(70);
    height: rem(40);
    line-height: rem(38);
    font-size: rem(18);
    color: #ffffff;
    font-family: arial;
    box-sizing: border-box;
    -webkit-box-sizeing: border-box;
    border: rem(1) solid transparent;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(top, #50C36D, #27853B), linear-gradient(top, #FFFBAD, #FFA531);
    background-image: -webkit-linear-gradient(top, #50C36D, #27853B), -webkit-linear-gradient(top, #FFFBAD, #FFA531);
    display: inline-block;
    border-radius: rem(3);
    text-align: center;
    box-shadow: inset rem(1) rem(-1) rem(8) rgba(0, 0, 0, 0.5);
  }
}

.lootery_section_height.lootery_section_height_01 {
  p {
    width: rem(70);
    height: rem(40);
    line-height: rem(38);
    font-size: rem(18);
    color: #ffffff;
    font-family: arial;
    box-sizing: border-box;
    -webkit-box-sizeing: border-box;
    border: rem(1) solid transparent;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(top, #881111, #ED4132), linear-gradient(top, #FFFBAD, #FFA531);
    background-image: -webkit-linear-gradient(top, #881111, #ED4132), -webkit-linear-gradient(top, #FFFBAD, #FFA531);
    display: inline-block;
    border-radius: rem(3);
    text-align: center;
    box-shadow: inset rem(1) rem(-1) rem(8) rgba(0, 0, 0, 0.5);
  }
}

.beimgMunr {
  padding-bottom: rem(10);
}

.beimgMunr .beimgMunr_Sect {
  p {
    width: rem(40);
    height: rem(40);
    font-size: rem(18);
    font-family: arial;
    background: linear-gradient(top, #F0DDAE, #DCB976);
    background: -webkit-linear-gradient(top, #F0DDAE, #DCB976);
    border-radius: 50%;
    float: left;
    line-height: rem(40);
    text-align: center;
    margin-right: rem(10);
    color: #63000B;
    position: relative;
  }
}

.beimgMunr .result_bj_article {
  section {
    p {
      width: rem(30);
      height: rem(60);
      line-height: rem(60);
      text-align: center;
      font-size: 24px;
      color: #000000;
      background: url('../images/hbeu.png') center center no-repeat;
      float: left;
      margin: 0;
      padding: 0;
      font-family: arial;
    }
  }
}

.beimg_articleed {
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-top: rem(10);
  section {
    text-align: center;
    font-size: rem(12);
    color: #FFFFFF;
    height: rem(26);
    line-height: rem(26);
    p {
      width: 30%;
      float: left;
    }
    p:first-of-type {
      width: 70%;
      position: relative;
    }
    p:first-of-type:after {
      content: '';
      width: 1px;
      height: 100%;
      background: rgba(255, 255, 255, 0.4);
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  section:first-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }
  section:nth-child(2) {
    p:first-of-type {
      span {
        width: 33.3%;
        float: left;
        position: relative;
      }
      span:after {
        content: "";
        width: 1px;
        height: 100%;
        background: rgba(255, 255, 255, 0.4);
        position: absolute;
        right: 0;
        top: 0;
      }
      span:last-of-type:after {
        content: "";
        width: 0;
      }
    }
    p.beimgSec {
      span {
        width: 25%;
        float: left;
        position: relative;
      }
    }
  }
}

.beimg_articleed.beimg_articleed_blank {
  background: rgba(0, 0, 0, .5);
  margin-top: rem(10);
}

.beimg_articleed.beimg_articleed_xlhc {
  section {
    p {
      width: 33.3%;
      position: relative;
    }
    p:after {
      content: "";
      width: 1px;
      height: 100%;
      background: rgba(255, 255, 255, 0.4);
      position: absolute;
      right: 0;
      top: 0;
    }
    p:last-of-type:after {
      content: "";
      width: 0;
    }
  }
}

.beimg_articleed.beimg_articleed_jsk3 {
  section {
    p {
      width: 50%;
      position: relative;
    }
    p:after {
      content: "";
      width: 1px;
      height: 100%;
      background: rgba(255, 255, 255, 0.4);
      position: absolute;
      right: 0;
      top: 0;
    }
    p:last-of-type:after {
      content: "";
      width: 0;
    }
  }
  section.beimgSpan {
    p:first-of-type {
      span:after {
        content: "";
        width: 0;
      }
    }
  }
}

// 2017.10.19
.beimg_articleed.beimg_articleed_jsk3.isjsk3a {
  section {
    p {
      width: 50%;
      position: relative;
    }
    p:after {
      content: "";
      width: 1px;
      height: 100%;
      background: rgba(255, 255, 255, 0.4);
      position: absolute;
      right: 0;
      top: 0;
    }
    p:last-of-type:after {
      content: "";
      width: 0;
    }
  }
  section.beimgSpan {
    p:first-of-type {
      span:after {
        content: "";
        width: 0;
      }
    }
  }
}

/*全部彩种样式*/
#imgs {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  z-index: 15;
}

.imgs_article {
  height: 100%;
  padding: 0 rem(20);
  section {
    position: relative;
    background: rgba(40, 37, 38, 0.80);
    box-shadow: inset 0 -2px 3px 0 rgba(0, 0, 0, 0.50);
    border-radius: 4px;
    width: 100%;
    height: rem(450);
    overflow-y: scroll;
  }
}

#imgs {
  // width:rem(353);
  // height:rem(647);
  // margin: rem(0) auto;

  // -webkit-background: url('../images/betRecord/body-bg.png') center center no-repeat;
  // background-size: cover;
  // -webkit-background-size: cover;
  // background: rgba(40,37,38,0.80);
  // -webkit-background: rgba(40,37,38,0.80);
  // box-shadow: inset 0 -2px 3px 0 rgba(0,0,0,0.50);
  // -webkit-box-shadow: inset 0 -2px 3px 0 rgba(0,0,0,0.50);
  // border-radius:rem(4);
  // -webkit-border-radius: rem(4);
  p {
    // display: block;
    margin-top: rem(23);
    margin-bottom: rem(30);
    font-family: SFNSDisplay;
    font-size: rem(22);
    -webkit-font-size: rem(22);
    color: #FFDC99;
    letter-spacing: 0;
    line-height: rem(20);
    text-align: center;
    text-shadow: 0 rem(2) rem(4) rgba(0, 0, 0, 0.50);
    -webkit-text-shadow: 0 rem(2) rem(4) rgba(0, 0, 0, 0.50);
  }
  .close {
    margin-top: rem(5);
    margin-right: rem(5);
    span {
      font-family: "";
      float: right;
      width: rem(30);
      height: rem(30);
      color: #fff;
    }
  }
  ul {
    li {
      float: left;
      border: 1px solid #FFDC99;
      -webkit-border: 1px solid #FFDC99;
      margin-left: rem(7);
      margin-bottom: rem(7);
      a {
        display: block;
        // border: rem(1) solid #979797;
        // font-family: PingFangSC-Regular;
        font-size: rem(14);
        -webkit-font-size: rem(14);
        color: #E9D29B;
        letter-spacing: 0;
        line-height: rem(46);
        -webkit-line-height: rem(46);
        width: rem(163);
        height: rem(46);
        text-align: center;

        // background: rgba(40,37,38,0.80);
        // box-shadow: inset 0 rem(-2) rem(3) 0 rgba(0,0,0,0.5);
      }
    }
    li.on {
      -webkit-background-image: linear-gradient(#F0DDAE 0%, #DCB976 100%);
      background-image: linear-gradient(#F0DDAE 0%, #DCB976 100%);
    }
    li.on a {
      color: #000;
    }
  }
}

/*弹出公告*/
.indexNotice {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 5;
  background: rgba(51, 51, 51, 0.5);
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  box-pack: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  box-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  .indexNotice_mian {
    margin: 0 rem(15);
    height: rem(450);
    position: relative;
    background: rgba(42, 42, 42, 0.95);
    border: rem(1) solid #DCB976;
    border-radius: rem(3);
    section {
      padding: rem(10);
      font-size: rem(14);
      color: #ffffff;
      line-height: rem(24);
      position: relative;
      aside {
        height: rem(30);
        line-height: rem(30);
        line-height: rem(30);
      }
      .indexNotice_article {
        height: rem(400);
        overflow-y: scroll;
      }
      a {
        width: rem(20);
        height: rem(20);
        position: absolute;
        right: rem(10);
        top: rem(10);
      }
    }
  }

}

.noneDIV {
  width: rem(130);
  margin: 0 auto;
  font-size: rem(12);
  color: #ffffff;
  text-align: center;
  line-height: rem(30);
  padding-top: rem(110);
}

/*2017-10-31*/
.beimg_section.pcddBeimg.beImgSection_liu section {
  p {
    position: relative;
    line-height: rem(25);
    font-size: rem(18);
    width: rem(35);
    height: rem(35);
    span {
      width: 100%;
    }
    span:last-child {
      position: absolute;
      bottom: rem(-5);
      left: 0;
      font-size: rem(10);
    }
  }
  p:nth-of-type(3):after {
    content: "";
  }
  p:last-of-type {
    margin-left: rem(15);
    position: relative;
    overflow: visible;
  }
  p:last-of-type:after {
    content: "+";
    position: absolute;
    left: rem(-75);
    top: rem(5);
  }
}

/*首页背景图更改*/
.indexMian {
  background: url('../images/index_tradition.png') bottom center no-repeat;
  background-size: 100% auto;
}

.indexMian.indexBack {
  background: url('../images/index_board.png') center center no-repeat;
  background-size: 100% auto;
}

.bettingRecord .betRecord_bd {
  padding-top: 0;
}

/*APP下载*/
.advertisement {
  position: fixed;
  width: 100%;
  height: rem(60);
  top: 0;
  left: 0;
  z-index: 100;
  background: #151515;
}

.adverted {
  display: flex;
  -webkit-display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  padding: rem(10);
  padding-right: 0;
}

.adverted section {
  font-size: rem(12);
  color: #fff;
}

.adverted section:first-child {
  img {
    width: rem(40);
    height: rem(40);
    border: 1px solid #D0A979;
    border-radius: rem(8);
  }
}

.adverted section:nth-child(2) {
  margin: 0 rem(10);
  line-height: rem(20);
  flex: 1;
}

.adverted section:nth-child(2) p:first-of-type {
  font-size: rem(16);
  font-weight: 800;
  padding-top: rem(2);
}

.adverted section:nth-child(3) a {
  min-width: rem(67);
  height: rem(27);
  line-height: rem(28);
  text-align: center;
  font-size: rem(14);
  color: #191919;
  display: inline-block;
  background-image: linear-gradient(-1deg, #D0A979 0%, #DDC09C 100%);
  background-image: -webkit-linear-gradient(-1deg, #D0A979 0%, #DDC09C 100%);
  border-radius: rem(32);
  margin-top: rem(6);
}

.adverted section:nth-child(4) {
  width: rem(40);
  height: rem(40);
  background: url("../images/cancel2x.png") center center no-repeat;
  background-size: rem(15) auto;
  margin-left: rem(5);
}