@charset "utf-8";
@import 'rem';

$designWidth: 375;
.rollNews {
  background: linear-gradient(top, #172238, #20142D);
  background: -webkit-linear-gradient(top, #172238, #20142D);
  height: rem(34);
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  overflow: hidden;
  .indexlottery {
    position: relative;
    padding: 0 rem(10);
    font-size: rem(12);
    color: #FFDC99;
    ul {
      li {
        line-height: rem(34); /*background: url('../images/index/tiIcon.png') left rem(6) no-repeat; background-size: rem(40) auto; padding-left: rem(45);*/
        span {
          font-family: arial;
        }
      }
    }
  }
  .rollCuost {
    line-height: rem(34);
    text-align: center;
    a {
      display: block;
      font-size: rem(12);
      color: #ffffff;
      img {
        width: rem(50);
        padding-top: rem(5);
      }
    }
  }
}

.NavColorMn {
  height: rem(32);
  background: transparent url('../images/index/colorLine.png') top center repeat-x;
  background-size: rem(60) auto;
  text-align: center;
  ul {
    display: inline-block;

    li {
      width: rem(115);
      height: rem(32);
      background: url('../images/index/leftNav.png') top left no-repeat;
      background-size: 100% auto;
      float: left;
    }
    li.on {
      background: url('../images/index/leftNavColor.png') top left no-repeat;
      background-size: 100% auto;
      float: left;
    }
    li:nth-child(2) {
      background: url('../images/index/rightNav.png') top left no-repeat;
      background-size: 100% auto;
    }
    li:nth-child(2).on {
      background: url('../images/index/rightNavColor.png') top left no-repeat;
      background-size: 100% auto;
      float: left;
    }
  }
}

.colorList {
  padding: rem(15);
  padding-bottom: rem(80);
}

.colorListMian {
  //height: rem(335);
  //overflow-y: scroll;
  ul {
    height: auto;
    overflow: hidden;
    //padding-bottom: rem(100);
    li {
      width: 33%;
      float: left;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      a {
        margin: rem(1);
        background-image: -webkit-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.35));
        padding: rem(10) 0;
        padding-bottom: rem(12);
        display: block;
        section {
          text-align: center;
          font-size: rem(11);
          color: #FFDC99;
          figure {
            width: rem(75);
            height: rem(75);
            display: inline-block;
          }
          figure.cheColor {
            width: rem(65);
          }
        }
      }
    }

  }
}

/*APP下载*/
.advertisement {
  position: fixed;
  width: 100%;
  height: rem(60);
  top: 0;
  left: 0;
  z-index: 100;
  background: #151515;
}

.adverted {
  display: flex;
  -webkit-display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  padding: rem(10);
  padding-right: 0;
}

.adverted section {
  font-size: rem(12);
  color: #fff;
}

.adverted section:first-child {
  img {
    width: rem(40);
    height: rem(40);
    border: 1px solid #D0A979;
    border-radius: rem(8);
  }
}

.adverted section:nth-child(2) {
  margin: 0 rem(10);
  line-height: rem(20);
  flex: 1;
}

.adverted section:nth-child(2) p:first-of-type {
  font-size: rem(16);
  font-weight: 800;
  padding-top: rem(2);
}

.adverted section:nth-child(3) a {
  min-width: rem(67);
  height: rem(27);
  line-height: rem(28);
  text-align: center;
  font-size: rem(14);
  color: #191919;
  display: inline-block;
  background-image: linear-gradient(-1deg, #D0A979 0%, #DDC09C 100%);
  background-image: -webkit-linear-gradient(-1deg, #D0A979 0%, #DDC09C 100%);
  border-radius: rem(32);
  margin-top: rem(6);
}

.adverted section:nth-child(4) {
  width: rem(40);
  height: rem(40);
  background: url("../images/cancel2x.png") center center no-repeat;
  background-size: rem(15) auto;
  margin-left: rem(5);
}