@charset "utf-8";
@import 'rem';

$designWidth: 375;
body, html {
  height: 100%;
}

.login.ispad {
  padding: 0;
}

.login {
  //width: 100%;
  //height: 100%;
  background: url('../images/loginBack.png') top center no-repeat;
  background-size: cover;
  position: relative;
  padding: 0;
  a {
    background: none;
  }
  .imgs {
    width: rem(35);
    height: rem(36);
    position: absolute;
    left: 0;
    top: rem(20);
  }
  .void_img {
    width: rem(35);
    height: rem(36);
    position: absolute;
    right: 0;
    display: inline-block;
    top: rem(20);
  }

  .loginMian {
    background: url('../images/loginBack01.png') center center no-repeat;
    background-size: 100%;
    width: 94%;
    margin: 0 auto;
    height: rem(625);
    .login_article {
      padding: rem(60) rem(30);
      margin-top: rem(190);
      width: auto;
      .loginFlex {
        height: rem(42);
        margin-bottom: rem(20);
        p {
          float: left;
          font-family: PingFangSC-Regular;
          font-size: rem(14);
          color: #FFFFFF;
          letter-spacing: 0;
          width: rem(42);
          margin-right: rem(10);
          line-height: rem(42);
          text-align: right;

        }
        input {
          float: left;
          color: #333333;
          background-image: linear-gradient(rgba(0, 0, 0, 0.24) 0%, #000000 97%);
          border-radius: rem(2);
          height: rem(42);
          width: rem(237);
          opacity: 0.8;
          font-family: PingFangSC-Regular;
          font-size: rem(14);
          letter-spacing: 0;
          text-indent: rem(10);

        }
      }
      .loginFlexs {
        height: rem(42);
        margin-bottom: rem(15);
        p {
          float: left;
          font-family: PingFangSC-Regular;
          font-size: rem(14);
          color: #FFFFFF;
          letter-spacing: 0;
          width: rem(42);
          margin-right: rem(10);
          line-height: rem(42);
          text-align: right;
        }
        input {
          float: left;

          background: rgba(0, 0, 0, 0.5);
          color: #fff;
          border-radius: rem(2);
          height: rem(42);
          width: rem(237);
          opacity: 0.8;
          font-family: PingFangSC-Regular;
          font-size: rem(14);
          letter-spacing: 0;
          text-indent: rem(10);

        }
      }
      p {
        text-align: right;
        font-family: PingFangSC-Regular;
        font-size: rem(14);
        letter-spacing: 0;
        line-height: rem(14);
        margin-bottom: rem(20);
        a {
          text-decoration: underline;
          color: #FFFFFF;

        }
        a.forgotER {
          padding-right: rem(12);
        }
      }
      .as {
        font-family: PingFangSC-Medium;
        font-size: rem(14);
        color: #65431D;
        letter-spacing: 0;
        text-align: center;
        line-height: rem(44);
        .loginBtn {
          background-image: radial-gradient(#B79F71 0%, #E4D3AA 63%, #E4D7B5 100%);
          -webkit-background-image: radial-gradient(#B79F71 0%, #E4D3AA 63%, #E4D7B5 100%);
          -webkit-box-shadow: 0 rem(2) rem(4) 0 rgba(0, 0, 0, 0.50), 0 rem(3) 0 0 #7F5018, 0 rem(4) rem(4) 0 rgba(0, 0, 0, 0.50), inset 0 0 rem(3) 0 #FFF6CF;
          -webkit-border-radius: rem(4);
          box-shadow: 0 rem(2) rem(4) 0 rgba(0, 0, 0, 0.50), 0 rem(3) 0 0 #7F5018, 0 rem(4) rem(4) 0 rgba(0, 0, 0, 0.50), inset 0 0 rem(3) 0 #FFF6CF;
          border-radius: rem(4);
          width: rem(280);
          height: rem(44);
          margin-left: 5%
        }
      }

      .ft {
        font-family: PingFangSC-Regular;
        font-size: rem(14);
        width: 50%;
        height: rem(14);
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: rem(14);
        text-align: right;
        float: left;
        margin-top: 0.82759rem;
        a {
          font-family: PingFangSC-Regular;
          font-size: rem(14);
          color: #FFDC99;
          letter-spacing: 0;
          line-height: rem(14);
        }
      }
    }
  }
}

.login .loginMian .login_article .wxLogin {
  font-size: rem(10);
  text-align: center;
  color: #ffffff;
  border-top: 1px solid #ffffff;
  margin: 0px rem(10);
  position: relative;
  overflow: visible;
  .wxLogin_title {
    position: absolute;
    top: rem(-7);
    width: 100%;
    p {
      display: inline-block;
      background: rgb(52, 42, 89);
      font-size: rem(10);
      padding: 0 rem(10);
    }
  }
  .wxLogin_section {
    width: rem(40);
    display: inline-block;
    margin-top: rem(15);
  }
}

