@charset "utf-8";
@import 'rem';
$designWidth:375;
body,html {
  height: 100%;
}
#app{ background: url('../images/numberimg/gup.png') center no-repeat;
  background-size:cover;height: 100%;position: relative}
.per{ height: rem(45);width:100%;margin-top: rem(5);}
.per_number.goleff li:nth-child(1){width:rem(35);height:rem(35);background: url('../images/numberimg/fan.png') center no-repeat;
  background-size:cover;float: left;margin-top:rem(10)}
.Bank_top.ides{ background:url('../images/numberimg/toupe.png')center no-repeat;
    background-size: rem(200);height:rem(50);width:rem(200);position: absolute;left: rem(90);top:rem(25);}

.Bank_top p{ color:#FFF6CF ;line-height:rem(40);font-size:rem(18);text-align: center}
.Bank_number.istop { background:url('../images/numberimg/bei.png') top center no-repeat;
  background-size: rem(350);height:100%;margin-top:rem(0);}
  .Opinion_feedback.mart{width: rem(323);height: rem(180);background-image: linear-gradient(-180deg, rgba(0,0,0,0.24) 0%, #000000 97%);
    border: 1px solid #BEB284;margin: 0 auto;
    border-radius: 2px;margin-top: rem(70);text-align: center;}
.Opinion_feedback{width: rem(323);height: rem(180);background-image: linear-gradient(-180deg, rgba(0,0,0,0.24) 0%, #000000 97%);
  border: 1px solid #BEB284;margin: 0 auto;
  border-radius: 2px;margin-top: rem(80);text-align: center;
  p{padding:rem(5) rem(5);; width: rem(310);}
  textarea{height: rem(180);width: rem(310);background: none;line-height: rem(20);
 ;font-size: rem(14);color:#fff;outline:none
}
}
.per_number.golef li:nth-child(1) {
  width: 1.44828rem;
  height: 1.44828rem;
  background:none;
  background-size: cover;
  float: left;}
.over{background:url('../images/numberimg/btn_chang@3x.png')center no-repeat;
  background-size:85%;height:rem(54);margin-top: rem(20);text-align: center;
  a{font-size: rem(14);text-align: center;display: inline-block;line-height: rem(54);
    color: #65431D;}}

