@charset "utf-8";
@import 'rem';
$designWidth:375;
body,html {
    height: 100%;
  }
#app{
    background: url('../images/betRecord/bg_qipai.png') center center no-repeat;
    background-size: cover;
    -webkit-background-size: cover; 
    -webkit-background: url('../images/betRecord/bg_qipai.png') center center no-repeat;
    font-size:rem(12) ;
    -webkit-font-size:rem(12);
    #bgimg{
        width:rem(351);
        // height:rem(625);
        margin: 0 auto;
        // background: url('../images/betRecord/bg.png')  no-repeat;
        background-size: 100%; 
        -webkit-background-size: 100%; 

        // -webkit-background: url('../images/betRecord/bg.png')  no-repeat;
        .tit {
            width:100%;
            height: rem(36);
            text-align: center;
            line-height: rem(36);
            .rig {
                float:left;
                margin-right:rem(0);
                // margin-top:rem(-10);
                width: rem(35);
                height:rem(36);
                   text-align: center;
                 background:url('../images/numberimg/fan.png') no-repeat;
                background-size: 100%; 
                -webkit-background-size: 100%; 
            }
            .titimg {
               
                float:left;
                margin-left: rem(100);
                margin-top: rem(10);
                font-family: PingFangSC-Semibold;
                font-size:rem(16);
                -webkit-font-size:rem(16);
                color: #FFFFFF;
                letter-spacing: 0;
                line-height: rem(36);
                -webkit-line-height: rem(36);
                img{
                    float:right;
                    width:  rem(20);
                    height: rem(20);
                    line-height: rem(36);
                    -webkit-line-height: rem(36);
                    margin-top: rem(8)
                }
            }
        }
        .betRecord_bd{
            margin-top: rem(20);
            // padding: rem(20);
             ul{
                 li{
                    width:rem(351);
                    height: rem(66);
                //    padding: rem(20);
                 margin-bottom: rem(5);
                //    box-sizing: content-box;
                //    -webkit-box-sizing: content-box;
                //    padding-top: rem(0);
                   background-image: linear-gradient( rgba(0,0,0,0.24) 0%, #000 97%);
                //    margin-bottom: 1px;
                   a{
                    //    display: block;
                    
                      .bd-left{
                        margin-top:rem(10);
                         float: left;
                         margin-left: rem(10);
                         .left-tit {
                            font-family: PingFangSC-Semibold;
                            -webkit-font-family: PingFangSC-Semibold;
                            font-size: rem(14);
                            -webkit-font-size: rem(14);
                            color: #FFDC99;
                            letter-spacing: 0;
                            line-height: rem(14);
                            -webkit-line-height: rem(14);
                            span{
                                opacity:rem(0.8);
                                -webkit-opacity:rem(0.8);
                                font-family: PingFangSC-Regular;
                                -webkit-font-family: PingFangSC-Regular;
                                font-size:rem(10);
                                -webkit-font-size: rem(10);
                                color: #FFDC99;
                                letter-spacing: 0;
                                line-height: rem(10);
                                -webkit-line-height: rem(10);
                            }
                          } 
                          .left-data {
                            // display: block;
                            // height: rem(38);
                            margin-top:rem(14);
                            opacity:rem(0.8);
                            -webkit-opacity:rem(0.8);
                            font-family: PingFangSC-Regular;
                            -webkit-font-family: PingFangSC-Regular;
                            font-size: rem(10);
                            -webkit-font-size: rem(10);
                            color: #FFDC99;
                            letter-spacing: 0;
                            line-height: rem(10);
                            -webkit-line-height: rem(10);
                          }
                         } 
                      .bd-right{
                        float: right; 
                          margin-top:rem(10);
                        .p1{
                            font-family: PingFangSC-Semibold;
                            -webkit-font-family: PingFangSC-Regular;
                            font-size: rem(18);
                            -webkit-font-size: rem(18);
                            color: #FFDC99;
                            letter-spacing: 0;
                            width:rem(45) ;
                            line-height: rem(14); 
                            -webkit-line-height: rem(14);
                            margin-right: rem(40);
                        }
                        .p2 {
                            color: #FFDC99;
                            text-align: right;
                            margin-right: rem(15);
                            margin-top: rem(-10);
                            font-size:rem(20);
                            -webkit-font-size: rem(20);
                            // display: block;
                            // width:rem(10);
                            height: rem(8);
                        }
                        .p3 {
                            opacity:rem(0.7);
                            -webkit-opacity:rem(0.7);
                            display: block;
                            font-family: PingFangSC-Regular;
                            -webkit-font-family: PingFangSC-Regular;
                            font-size:rem(10);
                            -webkit-font-size: rem(10);
                            color: #FFFFFF;
                            letter-spacing: 0;
                            width:rem(45) ;
                            height: rem(10);
                            line-height:rem(10);
                            -webkit-line-height: rem(10);
                            margin-right: rem(40);
                            text-align: right;
                            margin-top: rem(13);
                        }
                      }
                   }
                 }
             } 
        }
    }
}