@charset "utf-8";
@import 'rem';
$designWidth:375;
body,html {
    height: 100%;
  }
.login {
    width: 100%;
    height: 100%;
    background: url('../images/loginBack.png') top center no-repeat;
    background-size: cover ;
    position: relative;
    .imgs {
       width:rem(35);
       height:rem(36);
       position: absolute;
       left: 0;
       top:rem(30);
    }
    .loginMian {
        width:rem(351);
        height:rem(625);
        margin: 0 auto;
        background: url('../images/loginBack01.png') center center no-repeat;
        background-size: 100%;
        .login_article {
            padding:rem(50) rem(20);
            margin-top:rem(195);
            .loginFlexs {
                height: rem(42);
                margin-bottom: rem(10);
                p {
                    float: left;
                    font-family: PingFangSC-Regular;
                    font-size: rem(12);
                    color: #FFFFFF;
                    letter-spacing: 0;
                    width: rem(50);
                    margin-right:rem(10);
                    line-height: rem(42);
                    text-align: right;
                }
                input {
                    float: left;
                    color: #fff;
                    background: rgba(0,0,0,0.5) ;
                    border-radius: rem(2);
                    height: rem(42);
                    width: rem(237);
                    opacity: 0.8;
                    font-family: PingFangSC-Regular;
                    font-size:rem(14);
                    letter-spacing:0;
                    text-indent: rem(10);
                
                }
            }
            .xiey {
                text-align: left;
                font-family: PingFangSC-Regular;
                font-size: rem(14);
                letter-spacing: 0;
                line-height: rem(20);
                margin-bottom: rem(15);
                color: #fff;
                .box {
                    position: relative;
                    input {
                        float: left;
                        width:rem(16);
                        height:rem(16);
                        border:1px solid #000;
                        background: #fff;
                        color:red;
                        margin-left:rem(25);
                        margin-top:rem(2);
                        margin-right:rem(2);
                        
                      }
                      .gou {
                         z-index: 100;
                         color:#000;
                         margin-top:-1px;
                         position: absolute; 
                         top:0;
                         left:rem(-17);
                         width:rem(12);
                         text-decoration: none;
                      }
                }
                a {
                    color: #FFDC99;
                }
            }
            .loginBtn {
                    background-image: radial-gradient(#B79F71 0%, #E4D3AA 63%, #E4D7B5 100%);
                    -webkit-background-image: radial-gradient(#B79F71 0%, #E4D3AA 63%, #E4D7B5 100%);
                    -webkit-box-shadow: 0 rem(2) rem(4) 0 rgba(0,0,0,0.50), 0 rem(3) 0 0 #7F5018, 0 rem(4) rem(4) 0 rgba(0,0,0,0.50), inset 0 0 rem(3) 0 #FFF6CF;
                    -webkit-border-radius: rem(4);
                    box-shadow: 0 rem(2) rem(4) 0 rgba(0,0,0,0.50), 0 rem(3) 0 0 #7F5018, 0 rem(4) rem(4) 0 rgba(0,0,0,0.50), inset 0 0 rem(3) 0 #FFF6CF;
                    border-radius: rem(4);
                    width: rem(280);
                    height: rem(44);
                    font-family: PingFangSC-Medium;
                    font-size: rem(14);
                    color: #65431D;
                    letter-spacing: 0;
                    text-align: center;
                    line-height: rem(44);
                    margin-left:rem(20)
            }
            .ft {
                font-family: PingFangSC-Regular;
                font-size:rem(14);
                width: rem(280);
                height: rem(14);
                color: #FFFFFF;
                letter-spacing: 0;
                line-height: rem(14);
                text-align: center;
                margin-left: rem(30);
                margin-top: rem(15);
                a {
                    font-family: PingFangSC-Regular;
                    font-size:  rem(14);
                    color: #FFDC99;
                    letter-spacing: 0;
                    line-height: rem(14);
                }
            }
        }
    }
    .agreement {
        width:rem(351);
        height:rem(625);
        margin: 0 auto;
     
       .ag-tit {
        font-family: PingFangSC-Semibold;
        font-size: rem(16);
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: rem(16);
        position: absolute;
        left: rem(160);
        top:rem(50);
       }
       .ag-body {
           margin-top: rem(100);
           background: rgba(0,0,0,0.30);
           padding: rem(20);
           .body-p1 {
            font-family: PingFangSC-Regular;
            font-size: rem(18);
            color: #FFDC99;
            letter-spacing: 0;
            line-height: rem(28);
           }
           .body-p2 {
            opacity: 0.8;
            font-family: PingFangSC-Regular;
            font-size:  rem(10);
            color: #FFDC99;
            letter-spacing: 0;
            line-height: rem(10);
           }
           .body-p3,
           .body-p4,
           .body-p5 {
            font-family: PingFangSC-Regular;
            font-size:rem(14);
            color: #FFDC99;
            letter-spacing: 0;
            line-height: rem(24);
           }
           .body-p2,
           .body-p3,
           .body-p4,
           .body-p5{
               margin-bottom: rem(20);
           }

       }
    }
}