@charset "utf-8";
@import "../rem";
$designWidth: 375;
/*login*/
#app {
  height: 100%;
}

.loginIndex {
  height: 100%;
  //background: linear-gradient(top, rgb(99, 54, 133), rgb(39, 29, 76));
  //background: -webkit-linear-gradient(top, rgb(99, 54, 133), rgb(39, 29, 76));
}

.loginPad {
  padding: rem(25) rem(40);
  padding-top: 0;
}

.loginName {
  padding-top: rem(80);
}
.loginLi {
  margin: rem(10) 0;
  p {
    font-size: rem(14);
    color: #FFFFFF;
    line-height: rem(42);
  }
  p:first-of-type {
    min-width: rem(60);
    text-align: right;
    padding-right: rem(10);
  }
  p:nth-of-type(2) {
    background: rgba(0, 0, 0 ,0.5);
    border: 1px solid #BEB284;
    border-radius: rem(2);
    height: rem(42);
    flex: 1;
  }
  input {
    font-size: rem(14);
    color: #FFFFFF;
    text-indent: rem(10);
    width: 100%;
    background: transparent;
    border: none;
  }
}

.loginLi:last-child {
  margin-bottom: rem(5);
}
.forgetPaw {
  text-align: right;
}

.forgetPaw a {
  line-height: rem(24);
  font-size: rem(14);
  color: #FFFFFF;
  text-decoration: underline;
}

.loginHostBtn {
  background: radial-gradient(top,#DDC09C ,#D0A979 );
  background: -webkit-radial-gradient(top ,#DDC09C,#D0A979 );
  border-radius: rem(4);
  height: rem(44);
  line-height: rem(44);
  text-align: center;
  margin: rem(15) 0;
}

.loginHostBtn a {
  font-size: rem(14);
  color: #65431D;
}

.loginText {
  font-size: rem(14);
  text-align: center;
  color: #fff;
  margin-top: rem(25);
}

.loginText a {
  display: inline-block;
  color: #E4D3AA;
  text-decoration: underline;
}

/*register*/
.agreementRegister {
  font-size: rem(14);
  color: #FFFFFF;
  text-align: center;
  padding: rem(15) 0 rem(10) 0;
}

.agreementRegister a {
  display: inline-block;
  color: #FFDC99;
}

.agreementRegister i {
  width: rem(20);
  height: rem(20);
  line-height: rem(20);
  text-align: center;
  background: rgb(254, 219, 157);
  display: inline-block;
  border-radius: rem(2);
  margin-right: rem(10);
  color: rgb(254, 219, 157);
}

.agreementRegister i.on {
  color: rgb(246, 0, 153);
}


.backPassTitle {
  width: 100%;
  height: rem(50);
  line-height: rem(50);
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  color: #E4D3AA;
  font-size: rem(16);
  font-weight: bold;
  //background: linear-gradient(top, rgba(61,36,96,0.8),rgba(45,29,68,0));
  //background: -webkit-linear-gradient(top, rgba(61,36,96,0.8),rgba(45,29,68,0));
  //background: -webkit-linear-gradient(top, rgba(26,19,42,0.8),rgba(45,29,68,0));
  background: #3E225D;
}

.loginLi p.Mobile {
  background: transparent;
  font-size: rem(24);
  font-family: Arial;
}

#sendCode {
  background: #E4D3AA;
  color: #333333;
  width: auto;
  display: inline-block;
  padding: 0 0.3rem;
  padding-right: rem(15);
  position: absolute;
  right: 0;
  top: rem(1);
  height: rem(40);
  line-height: rem(40);
}

.agreement {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(99, 54, 133);
  z-index: 5;
}

.agreementTitle {
  height: rem(50);
  line-height: rem(50);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #3E225D;
  font-size: rem(16);
  font-weight: bold;
  text-align: center;
  color: #FFDC99 ;
}

.agreementContent {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background: url('../../images/personal/personalBack.jpg') center center no-repeat;
  background-size: 100% auto;
}
.agreementLogin {
  font-size: rem(14);
  color: #FFDC99;
  line-height: rem(24);
  padding: rem(15);
  padding-top: rem(65);
}
.agreementLogin p {
  padding-bottom: rem(10);
}
.agrTitle {
  font-size: rem(18);
}
.agrtime {
  font-size: rem(12);
  font-family: Arial;
}
.agrArrow {
  position: fixed;
  top: 0;
  left: 0;
  background: url('../../images/login/arrow.png') center center no-repeat;
  background-size: rem(25) auto;
  z-index: 5;
}