@charset "utf-8";
@import "../../rem";

$designWidth: 375;
/*开奖大厅*/
.bettingIndex {
  height: 100%;
}

.bettingTitle {
  width: 100%;
  height: rem(50);
  line-height: rem(50);
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  color: #E4D3AA;
  font-size: rem(16);
  font-weight: bold;
  background: -webkit-linear-gradient(top, rgba(26,19,42,0.8),rgba(45,29,68,0));
}