@charset "utf-8";
@import '../rem';

$designWidth: 375;

/*关于我们*/
.aboutUs_img {
  height: 100%;
  padding-top: 20%;
}

.aboutUs_images {
  text-align: center;
}

.aboutUs_images img {
  width: 80%;
  display: inline-block;
}

.aboutUs_Version {
  font-size: rem(18);
  color: #ffffff;
  text-align: center;
  line-height: 1rem;
  padding: 5% 0;
  padding-top: rem(30);
  font-family: Arial;
  .aboutUs_version_bb {

    p:last-child {
      opacity: 0.8;
      font-size: rem(14);
      letter-spacing: 0;
      margin-top: rem(8);
    }
  }

}

.aboutUs_version_list {
  width: 80%;
  margin: 0 auto;
  margin-top: rem(23);
  ul {
    li {
      display: flex;
      -webkit-display: flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      padding: rem(8);
      background: rgba(0, 0, 0, 0.2);
      margin: rem(2) 0;
      box-sizing: border-box;
      p:first-of-type {
        flex: 1;
        text-align: left;
        font-size: rem(14);
        color: #FFDC99;
        background: url('../../../assets/images/aboutIcon01.png') left center no-repeat;
        background-size: 0.9rem auto;
        padding-left: 1.1rem;
        span {
          font-size: rem(10);
          font-family: arial;
          margin-left: 0.1rem;
          color: #ffffff;
        }

      }
      p:last-of-type {
        border: 1px solid #FFDC99;
        padding: 0 rem(8);
        font-size: rem(12);
        display: inline-block;
        border-radius: rem(4);
        color: #FFDC99;
      }

    }
    li:nth-child(2) {
      p:first-of-type {
        background: url('../../../assets/images/aboutIcon02.png') left center no-repeat;
        background-size: 0.9rem auto;
      }

    }
    li:nth-child(3) {
      p:first-of-type {
        background: url('../../../assets/images/aboutIcon03.png') left center no-repeat;
        background-size: 0.9rem auto;
      }
    }
  }
}

.aboutUs_version_mun {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.about_version_WXimg {
  width: 3.2rem;
  height: 3.2rem;
  background: #f2f2f2;
  margin: 0.65rem auto;
}

.about_version_texted {
  width: 70%;
  font-size: 0.45rem;
  margin: 0 auto;
  line-height: 0.8rem;

  p:last-child {
    margin-bottom: 0.5rem;
  }

  p:first-of-type {
    font-size: 0.5rem;
    margin-bottom: 0.2rem;
  }

  span {
    font-family: arial;
  }

}

/*公告列表*/
.perCenterAnlist {
  padding: rem(20) rem(15);
  .perContentCls {

  }
}

.examineMianAnlist {
  padding: rem(0) rem(1) 0;
  overflow-y: scroll;
  margin-top: rem(55);
  ul {
    li {
      box-sizing: border-box;
      margin-bottom:rem(2);
      a {
        background: transparent;
        display: block;
        .examine_article_anlist {
          height: rem(40);
          position: relative;
          background: linear-gradient(top, rgba(0, 0, 0, .1), rgba(0, 0, 0, .2));
          background: -webkit-linear-gradient(top, rgba(0, 0, 0, .1), rgba(0, 0, 0, .2));
          border: 1px solid transparent;
          padding: rem(14);
          font-size: rem(14);
          color: #FFDC99;
          font-family: arial;
          letter-spacing: 0;
          line-height: rem(14);
          section {
            p:first-child {
              margin-bottom: rem(10);
            }
            p:last-of-type {
              font-size: rem(10);
              opacity: 0.8;
              letter-spacing: 0;
              line-height: rem(10);
            }
          }
          i{
            display: inline-block;
            height:rem(10);
            position: absolute;
            right: rem(10);
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}

/*公告详情*/
.annDetailsMian {
  padding: rem(80) rem(10) 0;
  .annDetailDateDetail {
    background: rgba(0, 0, 0, 0.2);
    padding: rem(20);
    overflow-y: scroll;
    .annDetailTitle {
      font-size: rem(18);
      color: #FFDC99;
      line-height: rem(24);
      p:last-of-type {
        font-size: rem(12);
        color: #FFDC99;
        line-height: rem(24);
        span {
          font-family: Arial;
        }
      }
    }
    .annDetailContentText {
      color: #FFDC99;
      p {
        margin: rem(10) auto;
        font-size: rem(14);
        line-height: rem(24);
        font-family: Arial;
        letter-spacing: 0;
        text-align: justify;
      }
    }
  }
}
/*提现*/

.withdrawalsBody {
  padding-top: rem(80);
  padding-bottom: rem(20);
  width:94%;
  margin-left:3%;
  max-height: 76%;
  overflow-y: scroll;
  .withdrawalsCar {
    padding: rem(15);
    margin: rem(15);
    display: flex;
    background: radial-gradient(top,#DDC09C ,#D0A979 );
    background: -webkit-radial-gradient(top ,#DDC09C,#D0A979 );
    border-radius: rem(4);
    section {
      padding: 0 rem(20);
      line-height: rem(32);
      flex: 1;
      p:nth-child(1) {
        background: url('../../images/numberimg/zhaohang.png') no-repeat;
        line-height: rem(26);
        background-size: rem(28);
        font-size: rem(16);
        color: #65431D;
        padding-left: rem(32);
        font-weight: bold;
        font-family: Arial;
        letter-spacing: 0;
      }
      p:nth-child(2) {
        font-size: rem(14);
        color: #65431D;
        text-indent: rem(30);
      }
    }
  }
  .withdrawList {
     padding:0 rem(15);
     margin: rem(10) 0;
     p {
       font-size: rem(14);
       color: #FFFFFF;
       line-height: rem(42);
     }
     p:first-of-type {
       min-width: rem(60);
       text-align: right;
       padding-right: rem(10);
     }
     p:nth-of-type(2) {
       background: rgba(0, 0, 0 ,0.5);
       border: 1px solid #BEB284;
       border-radius: rem(2);
       height: rem(42);
       flex: 1;
     }
     input {
       font-size: rem(14);
       color: #FFFFFF;
       text-indent: rem(10);
       width: 100%;
       background: transparent;
       border: none;
     }
   }
  .forgetPaw {
    text-align: right;
    padding:0 rem(15);
    a {
      line-height: rem(24);
      font-size: rem(14);
      color: #FFFFFF;
      text-decoration: underline;
    }
  }
  .trueBtn {
    background: radial-gradient(top,#DDC09C ,#D0A979 );
    background: -webkit-radial-gradient(top ,#DDC09C,#D0A979 );
    border-radius: rem(4);
    height: rem(44);
    line-height: rem(44);
    text-align: center;
    margin: rem(15) 10%;
     width: 80%  ;
    a {
      font-size: rem(14);
      color: #65431D;
    }
  }
  .security {
    text-align: center;
    margin-top: rem(10);
    p {
      color: #fff;
      font-size: rem(14);
      background: url('../../images/numberimg/dun.png') rem(70) no-repeat;
      background-size: rem(20);
      padding-left: rem(20);
    }
  }
}



/*提现记录*/

.noneDIV {
  width: rem(130);
  margin: 0 auto;
  font-size: rem(12);
  color: #ffffff;
  text-align: center;
  line-height: rem(30);
  padding-top: rem(110);
}

.warmReminder{

  font-family: Arial;
  font-size: rem(12);
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height:rem(40);
  a{
    color: #FFDC99;
    letter-spacing: 0;
  }
}

.moneyHistoryBody {
  padding-top: rem(80);
  padding-bottom: rem(20);
  width:94%;
  margin-left:3%;
  max-height: 76%;
  overflow-y: scroll;
  .moneyHistoryLI {
    background-image: linear-gradient(-180deg, rgba(0,0,0,0.24) 0%,rgba(25,15,36,0.5) 97%);
    background-image: -webkit-linear-gradient(-180deg, rgba(0,0,0,0.24) 0%, rgba(25,15,36,0.5) 97%);
    height: auto;
    overflow: hidden;
    margin-bottom:1px;
    .moneyHistoryList {
      height: auto;
      padding: 0.41379rem;
      display: flex;
      -webkit-display:flex;
      .moneyLeft {
        width: rem(18);
        height: rem(18);
        margin-right: rem(10);
        margin-top: rem(3);
      }
      .moneyYellow {
        background: url('../../images/successful.png') center center no-repeat;
        background-size: rem(18) auto;
      }
      .moneyRed {
        background: url('../../images/failure.png') center center no-repeat;
        background-size: rem(18) auto;
      }
      .moneyGray {
        background: url('../../images/Toaudit.png') center center no-repeat;
        background-size: rem(18) auto;
      }
      .moneyRight {
        flex: 1;
        -webkit-flex: 1;
        position: relative;
        p {
          font-size: rem(14);
          color: #FFDC99;
          line-height: rem(24);
          span {
            font-family: arial;
          }
        }
        p:last-of-type {
          font-size: rem(10);
          color: #FFDC99;
          opacity: 0.8;
        }
        p:first-of-type {
          flex: auto;
        }
        .moneyMarry {
          position: absolute;
          top: 0;
          right: 0;
          font-size: rem(18);
          line-height: rem(46);
          color: #FFDC99;
        }
      }
    }
  }

}
